/* Algemene onderdelen */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Aspect;
    src: url(../fonts/aspectregular.woff);
}

/* format("woff");*/

body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: auto;
}

#h1hoofdpagina {
    color: #ffffff;
    position: relative;
    margin: 0;
    font-size: 2.5em;
    font-family: Aspect, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    width: 10em;
    text-shadow: 1px 1px 10px #000000;
    text-transform: uppercase;
    margin-left: 3%;
}

.h1verhalen {
    color: #06183D;
    background-color: #A8E2EA;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 2.750em;
    font-family: Aspect, Arial, sans-serif;
    font-weight: 400;
    line-height: 4em;
}

@media (min-width: 75em) {
    .h1verhalen {
        position: relative;
        top: 1.1em;
        margin-bottom: 2em;
    }
}

h2 {
    font-family: Aspect, Arial, sans-serif;
    font-weight: 300;
    color: #55565A;
    text-align: center;
    padding-bottom: 0.7em;
    margin: 0;
}

/* Blauwe balkje onder 'Alle verhalen' */
main div {
    background-color: #24b5c9;
    height: 0.25em;
    width: 5em;
    margin: auto;
    margin-bottom: 1em;
}

/* Titels verhalen */
h3 {
    color: #4A4949;
    font-size: 1.3em;
    display: block;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 0.25em;
    font-weight: 700;
}

p {
    color: #55565A;
    padding: 1em 1.5em 1em;
    line-height: 1.7em;
    font-size: 0.9em;
}

/* A en buttons styling */
.geleknopgestyled {
    background-color: #FBDD0F;
    border-radius: 4px;
    box-shadow: #DEC204 0px 3px;
    color: #55565A;
    padding: 0.8em 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease;
}

.geleknopgestyled:hover {
    background-color: #ffea6a;
}

.hidden {
    display: none;
}


/*

.mainvanalleszonderverhalen {
    margin: auto;
}
*/

/* Navigatiebalk Eurostar mobiel en tablet */

header nav {
    display: flex;
    align-items: center;
    padding: 1.5em;
    background-color: #06183D;
    cursor: pointer;
}

header nav a {
    display: flex;
    flex-grow: 1;
}

/* Eurostar logo mobiel */
header nav a img:nth-of-type(1) {
    margin: auto;
    height: 1.5em;
}

/* Eurostar logo desktop */
header nav a img:nth-of-type(2) {
    display: none;
}

/* Hamburger menu uitschuiven */

header section ul {
    background-color: #06183D;
    margin: auto;
    width: 100%;
    position: absolute;
    padding-left: 0em;
}

header section ul li {
    background-color: #F7F7F733;
    margin-bottom: 0.3em;
    padding: 0.5em 1em;
    list-style: none;
    transition: .3s ease-in-out;
}

header section ul li:nth-of-type(3),
header section ul li:nth-of-type(4) {
    background-color: #F7F7F715;
}

header section ul li:nth-of-type(4) {
    margin-bottom: 0;
}

header section ul li a {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.8em;
    text-decoration: none;
    list-style: none;
}

.UitklappenHamburgermenu {
    position: relative;
    z-index: 1;
    transform: translate(-100%);
    transition: .5s ease-in-out;
}

.UitklappenHamburgermenu.active {
    transform: translate(0);
}

/* Responsive menubalk */

@media (min-width: 74.7em) {

    /* Grote desktop */
    header nav {
        padding: 0em;
    }

    header nav a img:last-of-type {
        display: block;
        height: 8em;
        margin-left: 5%;
    }

    header nav img,
    header nav a img:nth-of-type(1) {
        display: none;
    }

    header section ul {
        display: flex;
    }

    header section ul li {
        margin-bottom: 0em;
        margin-left: 0.2em;
    }

    header section ul li:nth-of-type(1) {
        margin-left: 5%;
    }

    header section ul li:nth-of-type(3) {
        margin-left: auto;
    }

    header section ul li:nth-of-type(4) {
        margin-right: 5%;
    }

    header section ul li:hover {
        background: #ffffff50;
    }

    .current {
        box-shadow: 0px 4px 0px 0px #FBDD0F inset;
    }

    .UitklappenHamburgermenu {
        transform: none;
        transition: none;
    }

}

/* Foto van de banner, 'welkom op de verhalen website' */

#bannerfoto {
    background-image: url('../images/headerfoto.jpg');
    background-size: cover;
    height: 20em;
    border-bottom: 8px solid #24b5c9;
    margin-bottom: 1.7em;
    padding: 5em 5em 2em 2em;
}

/* Headerfoto */

#bannerfoto a {
    position: relative;
    top: 2em;
    margin-left: 3%;
}

/* Filteren en sorteren knoppen boven articles styling - mobiel */

main section:nth-of-type(1) a,
main section:nth-of-type(2) button {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 0.5em;
    color: #55565A;
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em;
    transition: .5s ease;
    cursor: pointer;
}

main section:nth-of-type(1) a {
    position: relative;
    left: 3em;
    width: 11.5em;
    margin-left: 5%;
    text-decoration: none;
}

main section:nth-of-type(2) button {
    border: none;
}

main section:nth-of-type(2) button.active {
    background-color: #028097;
    color: #ffffff;
    transition: .5s ease;
}

main section:nth-of-type(2) button.active:hover {
    background-color: #028097;
}

main section:nth-of-type(1) a:hover,
main section:nth-of-type(2) button:hover {
    background-color: rgba(148, 148, 148, 0.2);
}

/* Pijltjes naar beneden */
main > section > a > img,
main > section > button > img {
    width: 0.8em;
    height: 0.8em;
}

main section:nth-of-type(2) {
    display: none;
}

main section:nth-of-type(2) img:nth-of-type(1) {
    transition: .5s ease-in-out;
}

main section:nth-of-type(2) img:nth-of-type(1).active {
    transform: rotate(180deg);
}

@media (min-width: 50em)

/* Tablet */
    {
    main > section:nth-of-type(1) {
        display: none;
    }

    main section:nth-of-type(2) {
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }
}

/* Filteren en sorteren knoppen boven articles styling - desktop en tablet */

.sortformstyling {
    display: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
    border-radius: 0.25em;
    position: absolute;
    padding: 1em;
    opacity: 0%;
    transition: .5s ease-in-out;
    font-size: 1.2em;
    color: #55565A;
}

.sortformstyling.active {
    opacity: 100%;
    z-index: 1;
}

@media (min-width: 50em) {
    .sortformstyling {
        display: block;
    }
}

/*

.sortformstyling input[type="radio"],
.sortformstyling input[type="checkbox"] {
        margin: 1em 1em 1.5em 1em;
}
*/
legend {
    font-size: .9em;
    margin-bottom: 0.5em;
}

label {
    font-size: .8em;
}

/* Input type en label bij elkaar */
.sortformstyling span {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.25em;
}

.sortformstyling:first-of-type {
    left: 5%;
}

.sortformstyling:nth-of-type(2) {
    left: 6.4em;
}

.sortformstyling:nth-of-type(3) {
    left: 16em;
}

.sortformstyling:nth-of-type(4) {
    left: 26em;
    height: 11.5em;
    width: 14em;
}

/*
.sortformstyling:nth-of-type(4).active {
    opacity: 100%;
}
*/

.sortformstyling:nth-of-type(4) p {
    position: relative;
    top: 3em;
    padding: 0;
    font-size: .7em;
}

/* Toggle Switch https://www.w3schools.com/howto/howto_css_switch.asp */

/* Hier verberg je de checkbox en geef je de grootte aan van de switch en verborgen checkbox */
.switch input {
    opacity: 0;
    width: 4.8em;
    height: 2.3em;
    display: inline-block;
}

/* Hier maak je van de ruimte het label en neemt 'ie de groottes van hierboven */
.switch {
    position: absolute;
    display: inline-block;
}

/* Hier plaats je de slider over de checkbox en geef je de achtergrond een kleur */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #55565A50;
    transition: .3s;
    border-radius: 3em;
}

/* Hier geef je aan hoe het rondje eruit moet komen te zien */
.slider:before {
    border-radius: 100%;
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    background-color: #FFFFFF;
    transition: ease-in-out .3s;
}

/* Hier geef je aan hoe de achtergrond eruit moet zien na het switchen */
input:checked + .slider {
    background-color: #24b5c9;
}

/* Hier geef je aan hoe je slider beweegt */
input:checked + .slider:before {
    transform: translate(100%);
}

/* Hier geef je aan hoe de border eruit moet zien */
.slider:before {
    border: 0.1em solid #55565A90;
}

/* De verhalen */

article {
    background-color: #ffffff;
    border-color: rgb(230, 230, 231);
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
    height: 34em;
    margin-bottom: 30px;
    max-width: 24em;
    padding-bottom: 10px;
}

article section {
    display: flex;
    justify-content: space-between;
}

article section img {
    padding-right: 5%;
    margin-top: 1em;
}

article:nth-of-type(5) section img:nth-of-type(1) {
    margin-bottom: 3em;
}

article a,
.toevoegenaanlijst {
    background-color: #FBDD0F;
    box-shadow: #DEC204 0px 3px;
    border-radius: 4px;
    color: #55565A;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    padding: 9px 24px;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

article img.fotopreview {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#ster {
    width: 3%;
    padding-left: 5%;
}

.sterren {
    width: 3%;
}

main article {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Bijna uitgelezen verhalen */

.bijnauitgelezen a {
    position: relative;
    top: 12em;
}

.bijnauitgelezen:nth-of-type(2) a {
    top: 8.7em;
}

.bijnauitgelezen div {
    background-color: #24b5c9;
    display: inline-block;
    height: 0.4em;
    position: relative;
    width: 15em;
    margin-bottom: 1em;
    z-index: 1;
}

.bijnauitgelezen:nth-of-type(2) div {
    width: 3em;
}

.bijnauitgelezen h3 {
    margin-top: 0em;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    border-top: 1px solid #e6e6e7;
    padding: 10px;
}

/* Filteren en sorteren wel kloppend!! */

.filtersorteer {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 93%;
    z-index: 1;
}

section header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 230, 231);
    height: 58px;
    top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

section header h4 {
    font-size: 1em;
    font-weight: 700;
    color: #55565A;
}

#kruisje {
    border: none;
}

#herstel {
    border: none;
    text-decoration: underline;
    font-size: 1em;
    color: rgb(16, 159, 179);
}

.filtersorteer li {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(230, 230, 231);
    display: flex;
    justify-content: space-between;
}

.filtersorteer p {
    display: inline;
}

.filtersorteer a {
    text-decoration: none;
    color: rgb(85, 86, 90);
}

#sorteren {
    margin-top: -16px;
}

#toonresultaten {
    background-color: rgb(251, 221, 15);
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: #DEC204 0px 3px;
    width: 100%;
    text-align: center;
    padding: 16px 30px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
}

.marginbutton {
    background-color: #ffffff;
    margin: 20%;
}


/* Section articles */

#articles {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    opacity: 100%;
    transition: .5s ease;
}

#articles.active {
    opacity: 30%;
}

/* Alzheimer verhaal */

main video {
    width: 100%;
}

#desktopversie {
    display: none;
}

.beoordelingenverhaal h3 {
    padding: 0;
    text-align: center;
}

.beoordelingenverhaal section section:nth-of-type(1) {
    margin: auto;
    width: 12em;
}

.beoordelingenverhaal a {
    max-width: 30em;
    margin: auto;
    margin-bottom: 2em;
}


/* Responsive */

@media (min-width: 50em)
/* Tablet */

    {
    #desktopversie {
        display: inherit;
    }

    video {
        display: none;
    }
}


/* Inlogpagina */

.inlogpagina {
    margin: auto;
    margin-bottom: 2em;
    background-color: #ffffff;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
    padding: 0em 1em 2em;
    width: 35em;
    font-family: Arial, sans-serif;
    color: #55565A;
}

.inlogpagina button {
    font-family: Aspect, Arial, sans-serif;
    font-size: 1.5em;
    border: none;
    width: 10em;
    padding: 1em;
}

.inlogpagina button:last-of-type {
    background-color: #55565A30;
    opacity: 50%;
    cursor: pointer;
}

#inlogbuttons {
    display: flex;
    justify-content: center;
}

.inlog fieldset {
    margin: auto;
    border: none;
    max-width: 35em;
    width: 100%;
}

.inlog fieldset input {
    width: 100%;
}

.inlog input[type="email"],
input[type="password"] {
    padding: 1em;
    margin: 0.25em 0em 1em;
    border: 0.1em solid #24b5c9;
    border-radius: 0.25em;
    cursor: auto;
}

.inlog input[type="submit"] {
    background-color: #FBDD0F;
    border-radius: 4px;
    box-shadow: #DEC204 0px 3px;
    color: #55565A;
    padding: 12px 24px;
    font-size: 1em;
    padding: 12px 24px;
    text-transform: uppercase;
    margin-top: 0.5em;
    cursor: pointer;
}

.inlog input[type="submit"]:hover {
    background-color: #ffea6a;
    transition: all .2s ease-in-out;
}

.inlog input[type="submit"]:active {
    background-color: #24b5c9;
    transition: all .1s ease;
    box-shadow: #A8E2EA 0px 3px;
}

input::placeholder {
    opacity: 50%;
    font-style: italic;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border: 0.2em solid #24b5c9;
    background-color: #A8E2EA;
    color: #06183D;
}

input[type="email"]:valid,
input[type="password"]:valid {
    border: 0.2em solid #24b5c9;
    background-color: #A8E2EA;
}

input[type="email"]:invalid,
input[type="password"]:invalid {
    border: 0.1em solid #06183D;
}
