/* Algemene onderdelen */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Aspect;
    src: url(fonts/AspectRegular.otf);
}

body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: auto; //font-size: 80%;
}

.h1hoofdpagina {
    color: #ffffff;
    font-size: 2.750em;
    font-family: Aspect;
    font-weight: 400;
    line-height: 1.2em;
    margin: auto;
    max-width: 80%;
    position: absolute;
    width: 10em;
    text-shadow: 1px 1px 10px #000000;
    text-transform: uppercase;
    margin-left: 3%;
}


.h1verhalen {
    color: #06183D;
    background-color: #A8E2EA;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 2.750em;
    font-family: Aspect;
    font-weight: 400;
    line-height: 4em;
}

@media (min-width: 84.9em) {
    .h1verhalen {
        position: relative;
        top: 1.2em;
        margin-bottom: 2em;
    }
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Aspect;
    font-weight: 300;
    color: #55565A;
    text-align: center;
    padding-bottom: 15px;
}

main div {
    background-color: #24b5c9;
    display: block;
    height: 4px;
    width: 65px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 10px;
}

h3 {
    color: #4A4949;
    font-size: 22px;
    padding-left: 5%;
    margin-bottom: 5px;
    font-weight: 700;
}

p {
    color: #55565A;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    line-height: 24px;
}

.mainvanalleszonderverhalen {
    margin: auto;
}

/* Navigatiebalk Eurostar mobiel en tablet */

header nav {
    display: flex;
    padding: 1.5em;
    background-color: #06183D;
}

header nav img:first-of-type(1) {
    height: 1.5em;
}

header nav a img:nth-of-type(1) {
    margin: auto;
    height: 1.5em;
}

header nav a img:nth-of-type(2) {
    display: none;
}

header nav a {
    display: flex;
    flex-grow: 1;
}

/* Hamburger menu uitschuiven */

header section ul li a {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.8em;
    text-decoration: none;
    list-style: none;
}

header section ul li {
    background-color: #F7F7F733;
    margin-bottom: 0.3em;
    padding: 0.5em;
    list-style: none;
}

header section ul li:nth-of-type(3),
header section ul li:nth-of-type(4) {
    background-color: #F7F7F715;
}

header section ul li:nth-of-type(4) {
    margin-bottom: 0;
}

header section ul {
    background-color: #06183D;
    margin: auto;
    width: 100%;
    position: absolute;
    padding-left: 0%;
}

.UitklappenHamburgermenu {
    position: relative;
    z-index: 1;
    transform: translate(-100%);
    transition: .5s ease;
    transform-style: preserve-3d;
}

.UitklappenHamburgermenu.active {
    transform: translate(0);

}

/* Navigatiebalk Eurostar desktop */

#desktop {
    display: none;
    background-color: #06183D;
    padding-left: 1em;
    margin-bottom: 100px;
    height: 150px;
}


/* Responsive menubalk */

@media (min-width: 84.9em) {

    /* Grote desktop */
    header nav {
        padding: 0em;
    }

    header nav a img:last-of-type {
        display: inline-block;
        height: 8em;
        margin-left: 5%;
    }

    .UitklappenHamburgermenu {
        transform: none;
        transition: none;
        transform-style: none;
    }

    header section ul li:nth-of-type(1) {
        margin-left: 5%;
    }

    header section ul li:nth-of-type(3) {
        margin-left: auto;
    }

    header section ul li:nth-of-type(4) {
        margin-right: 5%;
    }

    header section ul li {
        margin-bottom: 0em;
        margin-left: 0.2em;
    }

    .current {
        box-shadow: 0px 4px 0px 0px #FBDD0F inset;
    }

    header nav img,
    header nav a img:nth-of-type(1) {
        display: none;
    }

    .UitklappenHamburgermenu {
        transform: none;
        transition: none;
        transform-style: none;
    }

    header section ul {
        display: flex;
    }

    header section ul li {
        margin-bottom: 0em;
        margin-left: 0.2em;

    }
}


/* Foto van de banner, 'welkom op de verhalen website' */

#bannerfoto {
    background-image: url('../images/headerfoto.jpg');
    background-size: cover;
    height: 22em;
    border-bottom: 8px solid #24b5c9;
    margin-bottom: 25px;
    padding: 5em 5em 2em 2em;
}

/* Header + knop */

#randomverhaal {
    background-color: #FBDD0F;
    display: inline-block;
    border-radius: 4px;
    box-shadow: #DEC204 0px 3px;
    color: #55565A;
    font-size: 1em;
    position: relative;
    top: 10.5em;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 3%;
}

.randomverhaal:hover,
main article a:hover,
#toonresultaten:hover {
    background-color: #ffea6a;
    transition: all .2s ease-in-out;
}


/* Filteren en sorteren knoppen boven articles styling - mobiel */

h5,
.filteren,
.buttonfilterensorteren {
    background-color: #ffffff;
    border-radius: 8px;
    color: #55565A;
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
    padding: 10px;
    text-decoration: none;
    border: none;
    margin-right: 0.5em;
    transition: .5s ease;
}

.buttonfilterensorteren.active {
    background-color: #028097;
    color: #ffffff;
    transition: .5s ease;
}

.filterenen:hover {
    background-color: rgba(148, 148, 148, 0.2);
    transition: all .2s ease-in-out;
}

.filterensorterentelefoon {
    padding: 10px;
    margin-left: 5%;
}

.filterensorterentelefoon img,
.filterensorterendesktop img {
    width: 10px;
    height: 10px;
}

.filterensorterendesktop {
    display: none;
}

.filterensorterendesktop img:nth-of-type(1) {
    transition: .5s ease-in-out;
}

.filterensorterendesktop img:nth-of-type(1).active {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}

/* Filteren en sorteren knoppen boven articles styling - desktop en tablet */

#Sorterenplaatsing,
#Categorieenplaatsing,
#Vertelperspectiefplaatsing {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
    width: 15em;
    margin-top: 0.3em;
    border-radius: 0.25em;
    position: absolute;
    padding: 1em;
    opacity: 0%;
    transition: .5s ease-in-out;
}

#Sorterenplaatsing.active,
#Categorieenplaatsing.active {
    opacity: 100%;
    z-index: 3;
}

#Sorterenplaatsing,
#Categorieenplaatsing {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#Sorterenplaatsing input[type="radio"],
#Categorieenplaatsing input[type="checkbox"] {
    /*    margin: 1em 1em 1.5em 1em;*/
}

.keuzesform {
    background-color: #ffffff;
    color: #55565A;
    font-size: .9em;
}

#Sorterenplaatsing {
    margin-left: 5%;
}

#Categorieenplaatsing {
    position: absolute;
    left: 6.4em;
}

#Vertelperspectiefplaatsing {
    position: absolute;
    left: 16em;
    opacity: 100%;
}

@media (min-width: 52em) {

    #Sorterenplaatsing,
    #Categorieenplaatsing,
        {
        display: inline-block;
    }
}

/* De verhalen */

article {
    background-color: #ffffff;
    border-color: rgb(230, 230, 231);
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
    margin: 10px;
    height: 33em;
    margin-bottom: 30px;
    max-width: 410px;
    padding-bottom: 10px;
}

article section {
    display: flex;
    justify-content: space-between;
}

article section img {
    padding-right: 5%;
    margin-top: 1em;
}

article:nth-of-type(5) section img:nth-of-type(1) {
    margin-bottom: 3em;
}

article a,
.toevoegenaanlijst {
    background-color: #FBDD0F;
    box-shadow: #DEC204 0px 3px;
    border-radius: 4px;
    color: #55565A;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    padding: 9px 24px;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

article img.fotopreview {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#ster {
    width: 3%;
    padding-left: 5%;
}

.sterren {
    width: 3%;
}

main article {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Bijna uitgelezen verhalen */

.bijnauitgelezen a {
    position: relative;
    top: 12em;
}

.bijnauitgelezen:nth-of-type(2) a {
    top: 8.7em;
}

.bijnauitgelezen div {
    background-color: #24b5c9;
    display: inline-block;
    height: 0.4em;
    position: relative;
    width: 15em;
    margin-bottom: 1em;
    z-index: 1;
}

.bijnauitgelezen:nth-of-type(2) div {
    width: 3em;
}

.bijnauitgelezen h3 {
    margin-top: 0em;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    border-top: 1px solid #e6e6e7;
    padding: 10px;
}

/* Filteren en sorteren wel kloppend!! */

.filtersorteer {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 93%;
    z-index: 1;
}

section header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 230, 231);
    height: 58px;
    top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

section header h4 {
    font-size: 1em;
    font-weight: 700;
    color: #55565A;
}

#kruisje {
    border: none;
}

#herstel {
    border: none;
    text-decoration: underline;
    font-size: 1em;
    color: rgb(16, 159, 179);
}

.filtersorteer li {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-left: -20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(230, 230, 231);
    display: flex;
    justify-content: space-between;
}

.filtersorteer p {
    display: inline;
}

.filtersorteer a {
    text-decoration: none;
    color: rgb(85, 86, 90);
}

#sorteren {
    margin-top: -16px;
}

#toonresultaten {
    background-color: rgb(251, 221, 15);
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: #DEC204 0px 3px;
    width: 100%;
    text-align: center;
    padding: 16px 30px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
}

.marginbutton {
    background-color: #ffffff;
    margin: 20%;
}


/* Section articles */

#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    opacity: 100%;
    transition: .5s ease;
}

#articles.active {
    opacity: 30%;
}

/* Alzheimer verhaal */

main video {
    width: 100%;
}

#desktopversie {
    display: none;
}

.beoordelingenverhaal h3 {
    padding: 0;
    text-align: center;
}

.beoordelingenverhaal section section:nth-of-type(1) {
    margin: auto;
    width: 12em;
}

.beoordelingenverhaal a {
    max-width: 30em;
    margin: auto;
    margin-bottom: 2em;
}


/* Responsive */

@media (min-width: 57em)
/* Tablet */

    {
    #desktopversie {
        display: inherit;
    }

    video {
        display: none;
    }

    .filterensorterendesktop {
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }

    .filterensorterentelefoon {
        display: none;
    }
}


/* Inlogpagina */

.inlog {
    display: flex;
    justify-content: center;
    max-width: 60em;
    margin: auto;

}

.inlog fieldset {
    border: none;
    max-width: 30em;
}

.inlog fieldset input {
    width: 100%;
}

.inlog input[type="submit"] {
    width: 100%;
}
